@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 450px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* text-align: center; */
}

.todo-header {
  display: flex;
  gap: 10px;
  flex-direction: column;
  /* align-items: center; */
  background-color: #fff;

  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.todo-header label {
  font-weight: bold;
}

.todo-header input {
  /* flex: 1; */
  width: 83%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.todo-header button {
  background: #ff1493;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.todo-header button:hover {
  background: #e60073;
}

.error {
  color: red;
  text-align: center;
}

.todo-list {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  cursor: grab;
}

.task-item input {
  margin-right: 10px;
}

.task-buttons {
  display: flex;
  gap: 5px;
}

.task-buttons button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.edit-btn {
  color: #ff1493;
}

.delete-btn {
  color: #ff1493;
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
